Flask==1.1.1
Markdown==3.1.1
Flask-RESTful==0.3.7
html2text==2019.9.26
requests==2.22.0
beautifulsoup4==4.8.1
celery==4.3.0
redis==3.3.11
pytest==5.2.2
ipdb==0.12.2
Flask-SQLAlchemy==2.4.1
psycopg2==2.8.4
Flask-Migrate==2.5.2